body {
  background-color: #e6e6e6;
  font-family: "Helvetica",sans-serif;
}

h1 {
  color: #326229;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: .2em;
}

h2 {
  color: #06283b;

}

h1, h2, p {
  text-align: center;
}


p {
  font-size: 16px; 
  font-weight: 700;
  padding: 0px 200px 10px 200px;
  color: #7c9f24;
}

ul {
  display: inline;
  padding-top: 25px;
  padding-bottom: 25px;
}

li {
  text-align: center;
  list-style-type: none;
}

li a {
 color: #6598c7;
 font-weight: 600;

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}